<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../Scripts/jquery.signalR-2.2.1.js"></script>
<script src="../signalr/hubs"></script>

<script>
    $(() => {
        initHub("testHub", (data) => {
            $('#text').append(data.item.index + ' :: ' + data.item.guid + '<br/>');
            if (data.isLast) {
                $('#textLoader').text('Loaded');
            }
        })
    });

    function initHub(hubName, func) {
        var hub = $.connection[hubName];

        hub.client.notify = (data) => func(data);

        $.connection.hub.start();
    }

    function getrequest() {
        $.ajax({
            url: '../api/home/text',
            type: 'GET',
            datatype: 'json',
            success: (data) => {
                $('#textLoader').append('Loading...<br/>');
            }
        });
    }
</script>

<span id="textLoader"></span><br/>
<input type="button" onclick="getrequest()" value="Get GUIDs" /><br />
<span id="text"></span>